* {
  box-sizing: border-box;
  margin: 0;
}
#fixed {

}

/* YOUR CSS GOES HERE*/
html
body {
	background-size: 960px 700px;
	box-sizing: border-box;
	z-index: -5;
	font-family: Times;	
	width: auto;
	height: 100%;
	margin: 0 auto;

}

a {
	color: #777777;
	text-decoration: none;
}

a hover {
	color: #4aaaa5;
}
.container {
	width: auto;
	margin: 0 auto;
}

header {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom:2px solid #dddddd;
	color: #4aaaa5;
	margin-bottom: 20px;
	
}
section {
	padding: 20px;
	background: #ccc;
	margin-bottom: 20px;
}

.title {
	width: 960px;
	margin: 0 auto;

}

.navMenu {
	width: auto;
	background-color: #ffffff;
	text-align: right;
	text-decoration: bold 
	border-bottom: 2px solid #cccccc;
} 
.navMenu ul {
	list-style-type: none;
	padding: 20px 0px 20px 0px;
}

.navMenu li {
	display: inline;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {margin: 0px;
padding-left: 20px;
padding-right: 20px
text-color: black;
text-align: left;
}

h2 {

}


#division {
	background: #6ea3da;
	padding: 20px;
	margin-top: 20px;
}
aside {
	float: left;
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	height: 200px;
	background: #fff;
	border: 1px solid #eee;
}
footer {
	margin: 0;
	text-align: center;
}
html, body {
	height: 100%;
	background-color: #ffffff;
	border-color: #cccccc;
	content: #ffffff;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	background-color: #666666;
	height: 155px; /* .push must be the same height as .footer */
}

